<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="../css/header.css" rel="stylesheet" type="text/css"/>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jwt.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>


    <title>设置密码</title>
</head>

<body>
<div id="app">
    <div class="header">
        <p>
        <div id="back" onclick="window.history.back(-1);"><i class="el-icon-arrow-left"></i></div>
        <div id="add">
            <el-dropdown @command="handleCommand">
    <span class="el-dropdown-link">
    <i class="el-icon-plus el-icon--right"></i>
    </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item command="a" onclick="window.location.href='zhuye_student.html'">个人页
                    </el-dropdown-item>
                    <el-dropdown-item command="b" onclick="window.location.href='mySeminar_s.html'">讨论课</el-dropdown-item>


                </el-dropdown-menu>
            </el-dropdown>
        </div>
        <div class="headerWord">设置密码</div>
        </p>
    </div>
    <div class="container">
        <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2">
            <el-form-item label="密码" prop="pass">
                <el-input type="password" v-model="ruleForm2.pass" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPass">
                <el-input type="password" v-model="ruleForm2.checkPass" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>

    </div>
    <br /><br />
    <div class="footer_white">
        <el-button size="big" type="primary" @click="modify">确认提交</el-button>

    </div>

</div>


<script>
    function back(){
        window.location.href='accountAndSet.html';
    };

    var app = new Vue({
        el: '#app',
        data() {
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.ruleForm2.checkPass !== '') {
                        this.$refs.ruleForm2.validateField('checkPass');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm2.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return{
                formLabelAlign: {
                    password:'',

                },
                ruleForm2: {
                    pass: '',
                    checkPass: '',
                },
                rules2: {
                    pass: [
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    checkPass: [
                        { validator: validatePass2, trigger: 'blur' }
                    ],

                }
            }

        },
        mounted(){
            async: false;
            let jwt = localStorage.getItem('jwt');
            console.log(`jwt:${jwt}`);
            axios.get(`/user/information`, {
                headers: {
                    'Authorization': 'Bearer ' + jwt,
                }
            }).then((response) => {
                let data = response.data;
                this.formLabelAlign = data;
                console.log(this.formLabelAlign);

            })
                .catch(function (error) {
                    console.log(error);
                    alert(error);
                    console.log(this.formLabelAlign);
                });
        },
        methods: {
            handleCommand(command) {
                this.$message('click on item ' + command);
            },
            modify() {
                let jwt = localStorage.getItem('jwt');
                console.log(`jwt:${jwt}`);
                axios({
                    method: "put",
                    url: `/teacher/${this.formLabelAlign.id}/information`,
                    headers: {
                        'Authorization': 'Bearer ' + jwt,
                    },
                    data: {
                        password: this.ruleForm2.pass,
                    },

                }).then((response) => {

                    console.log(this.ruleForm2);
                    back();
                })
            }
        },
    });

</script>

</body>

</html>