<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link href="../css/header.css" rel="stylesheet" type="text/css"/>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jwt.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.bootcss.com/json2/20160511/json2.min.js"></script>

    <title>查看组队</title>
</head>
<body>
<div id="app">
    <div class="header">
        <p>
        <div id="back" onclick="window.location.href='myCourse_s.html'"><i class="el-icon-arrow-left"></i></div>
        <div id="add">
            <el-dropdown @command="handleCommand">
    <span class="el-dropdown-link">
    <i class="el-icon-plus el-icon--right"></i>
    </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item command="a" onclick="window.location.href='zhuye_student.html'">个人页
                    </el-dropdown-item>
                    <el-dropdown-item command="b" onclick="window.location.href='mySeminar_s.html'">讨论课</el-dropdown-item>

                </el-dropdown-menu>
            </el-dropdown>
        </div>
        <div class="headerWord">查看组队</div>
        </p>
    </div>

    <div class="container">
        <div style="text-align: center;color: #6699ff">
            <p>{{formLabelAlign.name}}</p>
        </div>
        <p><div class="line"></div></p>
        <div style="text-align: center;">
            <p>组长：{{formLabelAlign.leader.account}}   {{formLabelAlign.leader.name}}</p>
        </div>
        <div style="text-align: center;" v-for="member in members">
            <p>组员：{{member.account}}   {{member.name}}</p>
        </div>
        <!--<div v-for="item in formLabelAlign">-->
        <!--<p>{{item.name}}</p>-->
        <!--</div>-->
    </div>

</div>
</body>
<script>

    var app = new Vue({
        el: '#app',
        data() {
            return {
                formLabelAlign:null,
                members:null,
                me:null,
            }
        },
        methods: {
            handleCommand(command) {
                this.$message('click on item' + command);
            },

            quit:function(){
                let jwt = localStorage.getItem('jwt');
                axios.get(`/user/information`, {
                    headers: {
                        'Authorization': 'Bearer ' + jwt,
                    }
                }).then((response) => {
                    let data = response.data;
                    this.me = data;
                    console.log(this.me.id)
                });
                var leaderId=this.formLabelAlign.leader.id
                var myId=this.me.id


                if(this.me.id==this.formLabelAlign.leader.id)
                {
                    var teamId=localStorage.getItem("myTeamId")
                    var params1 = new URLSearchParams();
                    params1.append('id',teamId);
                    axios({
                        method: 'delete',
                        url: `/team/${teamId}`,
                        data: params1,
                        headers: {
                            'Authorization': 'Bearer ' + jwt,
                        }
                    }).then(response => {
                        //window.location.href="myTeamInfo_panduan.html";
                    });
                }
                else{

                    var teamId=localStorage.getItem("myTeamId")
                    var params = new URLSearchParams();
                    params.append('id',this.me.id);
                    axios({
                        method: 'put',
                        url: ` /team/${teamId}/remove`,
                        data:params,
                        headers: {
                            'Authorization': 'Bearer ' + jwt,
                        }
                    }).then(response => {
                        //window.location.href="myTeamInfo_panduan.html";
                    });

                }
            },

        },
        mounted() {
            // console.log(this.formLabelAlign=response2);
            // console.log(this.formLabelAlign);
            async: false;
            let jwt = localStorage.getItem('jwt');
            let courseId=localStorage.getItem('clickCourse');
            axios.get(`/course/${courseId}/myTeam`, {
                headers: {
                    'Authorization': 'Bearer ' + jwt,
                }
            }).then((response) => {
                let data = response.data;
                this.formLabelAlign = data;
                console.log(this.formLabelAlign);
                this.members=data.members;
                let teamId=data.teamId;
                localStorage.setItem('myTeamId',teamId);
            });

        }

    });
</script>
</html>