<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.rockclass.mapper.ConflictCourseStrategyMapper" >
  <resultMap id="BaseResultMap" type="com.example.rockclass.entity.ConflictCourseStrategy" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <association column="course_id" property="course" jdbcType="BIGINT" javaType="com.example.rockclass.entity.Course"
                 select="com.example.rockclass.mapper.CourseMapper.selectByPrimaryKey"/>
  </resultMap>
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from conflict_course_strategy
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.rockclass.entity.ConflictCourseStrategy">
    insert into conflict_course_strategy (id, course_id)
    values (#{id,jdbcType=BIGINT}, #{course.id,jdbcType=BIGINT})
  </insert>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, course_id
    from conflict_course_strategy
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, course_id
    from conflict_course_strategy
  </select>
</mapper>