<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.rockclass.mapper.KlassRoundMapper" >
  <resultMap id="BaseResultMap" type="com.example.rockclass.entity.KlassRound" >
    <result column="enroll_number" property="enrollNumber" jdbcType="TINYINT" />
    <association column="klass_id" property="klass" jdbcType="BIGINT" javaType="com.example.rockclass.entity.Klass"
                 select="com.example.rockclass.mapper.KlassMapper.selectByPrimaryKey"/>
    <association column="round_id" property="round" jdbcType="BIGINT" javaType="com.example.rockclass.entity.Round"
                 select="com.example.rockclass.mapper.RoundMapper.selectByPrimaryKey"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from klass_round
    where klass_id = #{klassId,jdbcType=BIGINT}
      and round_id = #{roundId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.rockclass.entity.KlassRound" >
    insert into klass_round (klass_id, round_id, enroll_number
      )
    values (#{klass.id,jdbcType=BIGINT}, #{round.id,jdbcType=BIGINT}, #{enrollNumber,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.rockclass.entity.KlassRound" >
    update klass_round
    set enroll_number = #{enrollNumber,jdbcType=TINYINT}
    where klass_id = #{klass.id,jdbcType=BIGINT}
      and round_id = #{round.id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select klass_id, round_id, enroll_number
    from klass_round
    where klass_id = #{klassId,jdbcType=BIGINT}
      and round_id = #{roundId,jdbcType=BIGINT}
  </select>
  <select id="selectByRoundId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select klass_id, round_id, enroll_number
    from klass_round
    where
         round_id = #{roundId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select klass_id, round_id, enroll_number
    from klass_round
  </select>

</mapper>