<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.rockclass.mapper.RoundScoreMapper" >
  <resultMap id="BaseResultMap" type="com.example.rockclass.entity.RoundScore" >
    <result column="total_score" property="totalScore" jdbcType="DECIMAL" />
    <result column="presentation_score" property="presentationScore" jdbcType="DECIMAL" />
    <result column="question_score" property="questionScore" jdbcType="DECIMAL" />
    <result column="report_score" property="reportScore" jdbcType="DECIMAL" />
    <association column="team_id" property="team" jdbcType="BIGINT" javaType="com.example.rockclass.entity.Team"
                 select="com.example.rockclass.mapper.TeamMapper.selectByPrimaryKey"/>
    <association column="round_id" property="round" jdbcType="BIGINT" javaType="com.example.rockclass.entity.Round"
                 select="com.example.rockclass.mapper.RoundMapper.selectByPrimaryKey"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from round_score
    where round_id = #{roundId,jdbcType=BIGINT}
      and team_id = #{teamId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.rockclass.entity.RoundScore" >
    insert into round_score (round_id, team_id, total_score,
      presentation_score, question_score, report_score
      )
    values (#{round.id,jdbcType=BIGINT}, #{team.id,jdbcType=BIGINT}, #{totalScore,jdbcType=DECIMAL},
      #{presentationScore,jdbcType=DECIMAL}, #{questionScore,jdbcType=DECIMAL}, #{reportScore,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.rockclass.entity.RoundScore" >
    update round_score
    set total_score = #{totalScore,jdbcType=DECIMAL},
      presentation_score = #{presentationScore,jdbcType=DECIMAL},
      question_score = #{questionScore,jdbcType=DECIMAL},
      report_score = #{reportScore,jdbcType=DECIMAL}
    where round_id = #{round.id,jdbcType=BIGINT}
      and team_id = #{team.id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select round_id, team_id, total_score, presentation_score, question_score, report_score
    from round_score
    where round_id = #{roundId,jdbcType=BIGINT}
      and team_id = #{teamId,jdbcType=BIGINT}
  </select>
  <select id="selectByRoundId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select round_id, team_id, total_score, presentation_score, question_score, report_score
    from round_score
    where round_id = #{roundId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select round_id, team_id, total_score, presentation_score, question_score, report_score
    from round_score
  </select>
</mapper>