<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.rockclass.mapper.RoundMapper" >
  <resultMap id="BaseResultMap" type="com.example.rockclass.entity.Round" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="round_serial" property="roundSerial" jdbcType="TINYINT" />
    <result column="presentation_score_method" property="presentationScoreMethod" jdbcType="TINYINT" />
    <result column="report_score_method" property="reportScoreMethod" jdbcType="TINYINT" />
    <result column="question_score_method" property="questionScoreMethod" jdbcType="TINYINT" />
    <association column="course_id" property="course" jdbcType="BIGINT" javaType="com.example.rockclass.entity.Course"
                 select="com.example.rockclass.mapper.CourseMapper.selectByPrimaryKey"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from round
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.rockclass.entity.Round" useGeneratedKeys="true" keyProperty="id"  >
    insert into round ( course_id, round_serial,
      presentation_score_method, report_score_method,
      question_score_method)
    values ( #{course.id,jdbcType=BIGINT}, #{roundSerial,jdbcType=TINYINT},
      #{presentationScoreMethod,jdbcType=TINYINT}, #{reportScoreMethod,jdbcType=TINYINT},
      #{questionScoreMethod,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.rockclass.entity.Round" >
    update round
    set course_id = #{course.id,jdbcType=BIGINT},
      round_serial = #{roundSerial,jdbcType=TINYINT},
      presentation_score_method = #{presentationScoreMethod,jdbcType=TINYINT},
      report_score_method = #{reportScoreMethod,jdbcType=TINYINT},
      question_score_method = #{questionScoreMethod,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, course_id, round_serial, presentation_score_method, report_score_method,
    question_score_method
    from round
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectRoundByCourseId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, course_id, round_serial, presentation_score_method, report_score_method,
    question_score_method
    from round
    where course_id = #{courseId,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select id, course_id, round_serial, presentation_score_method, report_score_method,
    question_score_method
    from round
  </select>
  <select id="selectRoundByCourseIdAndRoundSerial" resultMap="BaseResultMap" parameterType="map" >
    select id, course_id, round_serial, presentation_score_method, report_score_method,
    question_score_method
    from round
    where course_id = #{courseId,jdbcType=BIGINT} and round_serial = #{roundSerial,jdbcType=TINYINT}
  </select>
</mapper>